{% extends "template.html" %}
{% block conteudo %}
      <form action="/criar_cardapio" method="post">
        <fieldset>
          <div class="form-group">
            <label for="Descricao">Descrição</label>
            <input type="text" id="Descricao" name="Descricao" class="form-control">
          </div>
          <button type="submit" class="btn btn-outline-success btn-salvar">Salvar</button>
          <a class="btn btn-outline-danger" href="{{url_for('lista_cardapios')}}">Voltar</a>
        </fieldset>
      </form>
{% endblock %}